[routes]

#Home
GET	/=Home->run
POST /=Teacherctl->processing_booking_event

GET /signup=home->showSignUp
POST /signup=home->signUp

GET /tinfo=home->showTinfo
POST /tinfo=home->tinfo

GET /sinfo=home->showSinfo
POST /sinfo=home->sinfo

GET /login=home->showlogin
POST /login=home->login
GET /user/searchT=StudentController->showsearchT
POST /user/searchT=StudentController->searchT
GET /sbooking=StudentController->showsBooking
POST /sbooking=StudentController->sbooking
GET /fetion=Message->sendMessage

